[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/adacott/odin-recipes
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = https://github.com/adacott/odin-landing-page
[submodule "odin-rock-paper-scissors"]
	path = odin-rock-paper-scissors
	url = https://github.com/adacott/odin-rock-paper-scissors
[submodule "odin-etch-a-sketch"]
	path = odin-etch-a-sketch
	url = https://github.com/adacott/odin-etch-a-sketch
[submodule "odin-calculator"]
	path = odin-calculator
	url = https://github.com/adacott/odin-calculator

[submodule "odin-sign-up-form"]
	path = odin-sign-up-form
	url = https://github.com/adacott/odin-sign-up-form
[submodule "odin-admin-dashboard"]
	path = odin-admin-dashboard
	url = https://github.com/adacott/odin-admin-dashboard
