[submodule "odin-recipes"]
	path = odin-recipes
	url = https://github.com/adacott/odin-recipes
[submodule "odin-landing-page"]
	path = odin-landing-page
	url = https://github.com/adacott/odin-landing-page
[submodule "odin-rock-paper-scissors"]
	path = odin-rock-paper-scissors
	url = https://github.com/adacott/odin-rock-paper-scissors
[submodule "odin-etch-a-sketch"]
	path = odin-etch-a-sketch
